* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(1,0,0);
}

h1,h2,h3{
    text-align: center;
}

header {
    background-color: #000000;
    color:#ada17b;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
}

header .logo img {
    width: 175px;
}

header h1 {
    font-size: 3.5em;
}

h2{
    font-size: 3em;
    color:#ada17b;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    color:#ada17b;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

main {
    text-align: center;
    padding: 0px;
}

main * p {
    margin-top: 10px auto;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
    color:#ada17b;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.content p {
    margin: 0 10px;
}

.destinos {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.destino {
    padding: 10px;
    margin: 20px 20px;
    width: 100%;
    box-sizing: border-box;
}

.destino img {
    width: 100%;
    max-height: 350px;
    display: block;
}

.destino h3 {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.destino p {
    margin-top: 10px;
    text-align: left;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-box {
    border: 2px solid black;
    padding: 10px;
    margin: 30px 20px;
    text-align: left;
}



.video-container {
    width: 100%;
    height: 70vh;
    background: rgb(0, 0, 0);
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra el contenedor sin distorsionarse */


    border-top-left-radius: 50px; /* Ajusta el radio según tus necesidades */
    border-top-right-radius: 50px; /* Ajusta el radio según tus necesidades */
    z-index: 2;
  }


  






  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  }
  
  .lorem-ipsum {
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: justify;
    width: 50%;
  }
  
  .circle-container {
    width: 30%;
    height: 80%;
    border-radius: 50%;
    border: 20px solid  #969180;;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .circle-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-input{
width: 100%;
margin-top: 10px;
font-size: 1em;
border: none;
border-bottom: 2px solid #000;
background: transparent;
outline: none;
}

.form-input textarea{
    resize: none !important;
}

button {
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}


/* EL FOOTER */

.footer {
    background-color: #333;
    color:#ada17b;
    margin-top: 100px;
    text-align: center;
    height: 15vh; /* Altura del footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons {
    margin-bottom: 5px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #ada17b; /* Color de los iconos */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}



/* IMAGENES PRINCIPALES CENTRADAS */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ancho del contenedor */
}

.image-container img {
    margin: 0 auto;
    width: 70vw; /* La imagen ocupará el 90% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del contenedor, ajusta según tus necesidades */
    width: 100%; /* Ancho del contenedor */
    margin: 20px;
}

.shadowed-image {
    width: 90%; /* La imagen ocupará el 90% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    box-shadow: 1rem 1rem 2rem #e0591a; /* Sombra alrededor de la imagen */

}



/* 
PARRAFOS QUE APARECEN CON SCROLL DOWN */
p.hidden-reveal {
    text-align: justify;
}
.hidden-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    text-align: justify;
}

.visible-reveal {
    opacity: 1;
    transform: translateY(0);
}

/* EL FOOTER */

.footer {
    background-color: #333;
    color:#ada17b;
    margin-top: 100px;
    text-align: center;
    height: 15vh; /* Altura del footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
.social-icons {
    margin-bottom: 5px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #ada17b; 
    transition: color 0.3s ease;
} 
*/


.redes-sociales a {
    color: #ada17b;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  .redes-sociales a:hover {
    opacity: 0.8;
  }

.redes-sociales a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}



/* IMAGENES PRINCIPALES CENTRADAS */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ancho del contenedor */
}

.image-container img {
    margin: 0 auto;
    width: 70vw; /* La imagen ocupará el 90% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del contenedor, ajusta según tus necesidades */
    width: 100%; /* Ancho del contenedor */
    margin: 20px;
}

.shadowed-image {
    width: 90%; /* La imagen ocupará el 90% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    box-shadow: 1rem 1rem 2rem #e0591a; /* Sombra alrededor de la imagen */
}

.large-image{
    width: 90%; /* La imagen ocupará el 90% del ancho del contenedor */
    height: 90vh; /* Mantener la proporción de la imagen */
    box-shadow: 1rem 1rem 2rem #048117; /* Sombra alrededor de la imagen */
}
.somos-image{
    width: 95%; /* La imagen ocupará el 90% del ancho del contenedor */
    height: 90vh; /* Mantener la proporción de la imagen */
    box-shadow: 1rem 1rem 2rem #0477ea; /* Sombra alrededor de la imagen */
}
